@import "../../styles/mixins/index.scss";

.header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  .notification,
  .profile {
    position: relative;
    background-color: #dce2f6;
    @include width-height(30px, 30px);
    padding: 5px;
    svg {
      @include width-height(20px, 20px);
    }
    img {
      @include width-height(100%, 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .notification:after {
    content: "";
    @include width-height(10px, 10px);
    border-radius: 50%;
    position: absolute;
    top: 0;
    transform: translate(0px, -4px);
    background: #42427d;
    border: 1px solid #ffffff;
  }

  .border-tl-br {
    border-radius: 10px 0 10px 0;
  }
}
